body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: justify;
}

h1{
    text-align: center;
}

strong {
    color: brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

ol {
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

dl {
    font-size: 30px;
}

dt {
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

dd {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    height: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    float: left;
}

nav {
    text-decoration: double;
    color: #007bff;
    font-weight: bold;
    text-align: center;
}

.boton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 5px;
}

p > h6 {
    color: #0056b3;
    font-size: medium;
}

div li {
    color: darkmagenta;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

section {
    flex: 1 0 70%;
    margin-bottom: 20px;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    margin: 20px auto;
}

.ad, .ad2 {
    float: left;
    background-color: magenta;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.center-figure {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 40px;
    border-color: chocolate;
    border-width: 6px;
    border-style: groove;
    display: flex;
    justify-content: center;
}
